header {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 0;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: #444;
    color: white;
    height: 10vh;
    align-items: center;
}

.tab-button{
    display: block;
    width: 6rem;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.tab-button:hover{
    display: block;
    background: #ddd;
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.tab-button:focus{
    display: block;
    background: #999;
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav{
    padding: 0;
    align-items: center;
    width: 100%;
}

span{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#logo-and-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#li-login{
    margin-left: 1rem;
}

ul{
    display: flex;
    button{
        width: 5rem;
        padding: 0.5rem;
    }
    
    li {
        list-style-type: none;
    }
}