<header>
    <nav>
        <span>
            <div id="logo-and-title">
                <img src="../../../../public/favicon.ico" alt="🪙">
                <h1>Personal Budget Tracker</h1>
            </div>
            <ul>
                <li>
                    <a class="tab-button" href="#home-section">Home</a>
                </li>
                <li>
                    <a class="tab-button" href="#features-section">Features</a>
                </li>
                <li>
                    <a class="tab-button" href="#about-section">About Us</a>
                </li>
                <li>
                    <a class="tab-button" href="#about-section">Contacts</a>
                </li>
                <li id="li-login">
                    <a class="tab-button" routerLink="/login" >Login</a>
                </li>
                <li>
                    <a class="tab-button" routerLink="/register">Register</a>
                </li>
            </ul>
        </span>
        
    </nav>
</header>