#page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    padding: 2rem;
    box-sizing: border-box;

    h1{
        margin-top: 2rem;
        font-size: 2rem;
    }
}

#instructions {
    width: 100%;
}

#starter{
    width: 100%;
}

.card {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #aaa;
  background: #fff;
  box-sizing: border-box;
}

