<div class="card">
    <div><strong>Currency:</strong> {{ budget()!.currency }}</div>
    <div><strong>Period:</strong> {{ budget()!.start_date }} → {{ budget()!.end_date }}</div>
    <div><strong>Created:</strong> {{ budget()!.created_at || '—' }}</div>
    <div><strong>Your role:</strong> {{ getMyRoleLabel() }}</div>
    <div><strong>Current balance:</strong></div>
    <div><strong>Projected amount of money by the end of the period:</strong></div>
    <div id="delete-button-div"><button>Delete Budget</button></div>
</div>