.initializer-wrap {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 4rem;
  margin: 2rem;
  border-radius: 8px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-size: 1rem;

  label,
  input {
    margin-top: 0.5rem;
  }

  input {
    padding: 0.25rem;
  }
}

.initializer-actions {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;

  button {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
  }
}

.error-message {
  margin-top: 0.35rem;
  font-size: 1rem;
  color: #b00020;
}