#register-section{
    padding-top: 10vh;
}

#register-section{
    padding-top: 10vh;
}

#title-section{
    display: flex;
    align-items: center;
    height: 20vh;
}

#title-div{
    margin-left: 25%;
}


#register-content{
    height: 70vh;
    font-size: 1.5rem;
    display: flex;
}

.error-message{
    font-size: 1rem;
    color: rgb(120, 0, 0);
}

form{
    margin-left: 25%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 0.2rem;
}

input{
    margin-top: 0.2rem;
    font-size: 1.2rem;
    padding: 0.2rem;
}

button{
    font-size: 1.2rem;
    margin-top: 1.2rem;
    padding: 0.2rem;
}