html, body{
    margin: 0;
    padding: 0;
}

* {
    outline: black;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 2.5rem;
    align-items: center;
}

#title-div{
    width: 100%;
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;
    div {
        width: 50%;
    }
}

#intorduction-div{
    width: 100%;
    display: flex;
    height: 80%;
}

#p-div{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    }
}

#image-div{
    
    width: 50%;
    p{
        text-align: center;
        font-size: 20rem;
        border: 1px dotted;
    }
}

p {
    margin: 0px;
    font-size: 1.2rem;
}

#home-section{
    padding-top: 10vh;
    height: 100vh;
}

#features-section{
    padding-top: 10vh;
    height: 100vh;
    div {
        border: 1px solid;
    }
}

#title-div-2{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#features-div{
    width: 100%;
    height: 80%;
    display: flex;
    
}

.feature-card{
    width: 33.33%;
}

#about-section{
    padding-top: 10vh;
    height: 90vh;
    div{
        border: 1px solid;
    }
}

#title-div-3{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-div{
    display: flex;
    height: 80vh;
    width: 100%;
}

.about-card{
    width: 50%;
}


