#pop-up{
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;

    #button-wrapper{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }

    button{
        margin: 0 2rem;;
        padding: 0.25rem 0.5rem;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 0.8rem;
    }

    #delete-btn{
        background-color: #dc3545;
        color: white;

        &:hover {
        background-color: #c82333;
        }
    }
        
    #cancel-btn {
        background-color: #007bff;
        color: white;
    
        &:hover {
        background-color: #0056b3;
        }
    }
}